django==4.2.1
djangorestframework==3.14.0
psycopg2==2.9.6
celery[redis]==5.2.7
flower==1.2.0
celery_singleton==0.3.1
django-redis==5.2.0
social-auth-app-django==5.2.0
yookassa==2.3.6
python-dateutil==2.8.2
requests~=2.31.0
pillow==10.0.0