.main-content {
  position: absolute;
  left: 68px;
  max-width: calc(100% - 68px);
  width: 100%;
  padding: 30px 50px 90px 50px;
  display: flex;
  height: 90%;
}

.profile {
  position: relative;
  width: 100%;
  max-width: 1640px;
  height: 100%;
  margin: 0 auto;
  border-radius: 12px;
}

.profile__intro {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #fbfbfb;
  border-radius: 12px;
  padding: 0 60px;
}

.profile__main {
  width: 50%;
  height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile__img img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile__info {
  width: 190px;
  margin-left: 30px;
  margin-bottom: 50px;
}

.profile__nick {
  font-size: 18px;
  font-weight: 450;
  margin-bottom: 10px;
}

.profile__mp {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.4431372549);
  font-weight: 400;
  justify-content: space-between;
  width: 350px;
  margin-bottom: 10px;
}

.profile__mp i {
  margin-right: 10px;
}

.profile__mail {
  display: flex;
  align-items: center;
}

.profile__prof {
  display: flex;
  align-items: center;
}

.profile__achiv {
  display: flex;
}

.achiv__text {
  margin-right: 8px;
  padding: 1px 10px;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.4431372549);
  background: rgba(0, 0, 0, 0.0588235294);
}

.profile__purposes {
  width: 100%;
}

.profile__group {
  display: flex;
  justify-content: space-between;
}

.rectangles {
  width: 300px;
  height: 150px;
  position: absolute;
  right: 0;
  top: 0;
  background: #1F1F1F;
  border-radius: 12px;
}

.rectangle__item-first {
  position: absolute;
  right: 280px;
  top: 0;
  background-image: url(../pictures/Rectangle16.svg);
  width: 350px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.rectangle__item-second {
  position: absolute;
  right: 100px;
  top: 0;
  background-image: url(../pictures/Rectangle14.svg);
  width: 350px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.rectangle__item-third {
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(../pictures/Rectangle15.svg);
  width: 280px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
}

.title {
  height: 30px;
  color: #e6e6e6;
  font-weight: 100;
  margin: 15px 0;
}
@media (max-width: 767px) {
  .title {
    font-size: calc(14px + 6.8 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .title {
    font-size: calc(14px + 4 * (100vw / 1920));
  }
}

.subtitle {
  height: 15px;
  color: #0e0e0e;
  font-weight: 500;
  margin: 15px 0;
}
@media (max-width: 767px) {
  .subtitle {
    font-size: calc(12px + 10.2 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .subtitle {
    font-size: calc(12px + 6 * (100vw / 1920));
  }
}

.subtitle-change {
  height: 15px;
  color: #0e0e0e;
  font-weight: 200;
  margin: 15px 0;
  text-decoration: none;
  transition: color 0.1s ease;
}
@media (max-width: 767px) {
  .subtitle-change {
    font-size: calc(12px + 10.2 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .subtitle-change {
    font-size: calc(12px + 6 * (100vw / 1920));
  }
}

.subtitle-change:hover {
  color: rgba(47, 47, 47, 0.7019607843);
}

.purpose {
  width: 100%;
  height: 360px;
  border-radius: 12px;
}

.purpose-inner {
  width: 100%;
  height: 300px;
  background: #fbfbfb;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.purpose__circle-outer {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: #DC4049;
  position: relative;
}

.purpose__circle-inner {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  background: #fbfbfb;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.purpose__circle-inner-text {
  font-weight: 500;
}
@media (max-width: 767px) {
  .purpose__circle-inner-text {
    font-size: calc(16px + 13.6 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .purpose__circle-inner-text {
    font-size: calc(16px + 8 * (100vw / 1920));
  }
}

.profile__donate {
  width: 100%;
  margin-left: 30px;
}

.profile__donate-inner {
  padding: 1px 20px 0 20px;
  width: 100%;
  height: 300px;
  background: #fbfbfb;
  border-radius: 12px;
}

.profile__donate-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.donate__input {
  outline: none;
  width: 100%;
  height: 30px;
  font-family: "Montserrat", "sans-serif";
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding-left: 5px;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .donate__input {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .donate__input {
    font-size: calc(14px + 2 * (100vw / 1920));
  }
}

@media screen and (min-width: 1920px) {
  .title {
    font-size: 18px;
  }
  .subtitle {
    font-size: 16px;
  }
  .subtitle-change {
    font-size: 16px;
  }
  .purpose__circle-inner-text {
    font-size: 18px;
  }
}
@media screen and (max-width: 1110px) {
  .rectangles {
    display: none;
  }
  .profile__main {
    justify-content: center;
    width: 100%;
  }
}
@media screen and (max-width: 915px) {
  .main-content {
    padding: 15px;
  }
  .profile__main {
    height: 400px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .profile__info {
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }
  .profile__mp {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.4431372549);
    font-weight: 400;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
  }
  .profile__achiv {
    display: flex;
    justify-content: center;
  }
  .achiv__text {
    margin-right: 8px;
    padding: 1px 10px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.4431372549);
    background: rgba(0, 0, 0, 0.0588235294);
  }
  .profile__group {
    flex-direction: column;
  }
  .purpose__circle-outer {
    width: 150px;
    height: 150px;
  }
  .purpose__circle-inner {
    width: 130px;
    height: 130px;
  }
  .profile__donate {
    margin: 0;
  }
}/*# sourceMappingURL=profile.css.map */

.button_refactor,
.button_save {
    text-decoration: none;
    color: #ebebeb;
    margin: 15px 0;
    transition: all 0.2s ease;
}

@media (max-width: 767px) {
  .button_refactor,
  .button_save {
    font-size: calc(12px + 10.2 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .button_refactor,
  .button_save {
    font-size: calc(12px + 6 * (100vw / 1920));
  }
}

.button_refactor:hover {
  color: rgba(235, 235, 235, 0.7098039216);
}
.button_save:hover {
  color: rgba(235, 235, 235, 0.7098039216);
}
.profile__img {
  position: relative;
}

.profile__img img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.profile__back {
  width: 150px;
  height: 150px;
  position: absolute;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.profile__back img {
  width: 75px;
  height: 75px;
  border-radius: 0;
}

input {
  border-radius: 4px;
  border-color: #252525;
  width: 120px;
}