<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    {% block css %}{% endblock %}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <div class="logo__name">adonates</div>
            </div>
            <div class="burgerside" id="btnside">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
        <ul class="nav_list">
            <li>
                <a href="{% url 'profile' %}">
                    <i class='bx bx-user'></i>
                    <span class="links_name">Профиль</span>
                </a>
            </li>
            <li>
                <a href="{% url 'statistics' %}">
                    <i class='bx bxs-dashboard'></i>
                    <span class="links_name">Панель</span>
                </a>
            </li>
            <li>
                <a href="{% url 'donations' %}">
                    <i class='bx bx-donate-heart'></i>
                    <span class="links_name">Донаты</span>
                </a>
            </li>
            <li>
                <a href="{% url 'withdraw' %}">
                    <i class='bx bx-money-withdraw'></i>
                    <span class="links_name">Вывод</span>
                </a>
            </li>
        </ul>
    </div>

    <section class="main-content">
        {% block content %}{% endblock %}
    </section>

    {% block js %}{% endblock %}

</body>
</html>