{% extends 'dashboard/html/base.html' %}{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'dashboard/css/donations.css' %}">{% endblock %}
    {% block content %}
        <section class="donates">
            <h1 class="donates-title title">Донаты</h1>
            <section class="donates-inner">
                {% for donate in donations %}
                <div class="donates__item">
                    <h1 class="donates__item-title">{{ donate.payment.payment_sum }}Р, {{ donate.nickname }}</h1>
                    <div class="donates__item-text">
                        {{ donate.message }}
                    </div>
                </div>
                {% endfor %}
            </section>
        </section>
    {% endblock %}

    {% block js %}<script src="{% static 'dashboard/js/bigpage.js' %}"></script>{% endblock %}