<!DOCTYPE html>
{% extends 'dashboard/html/base.html' %}{% load static %}
{% block title %}{{ account.user.username }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'dashboard/css/statistics.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/profile.css' %}">
{% endblock %}
{% block content %}
    <form action="{% url 'change_profile' %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <a href="#" id="profile_info" class="button_refactor">Изменить</a>
        <button type="submit" id="profile_refactor" style="display: none">Сохранить</button>
        <section class="profile">
            <div class="profile__intro">
                <div class="profile__main">
                    <div class="form-error">{{ profileForm.avatar.errors }}</div>
                    <div class="profile__img">
                        <img src="{{ account.avatar.url }}" alt="">
                        <label id="profile_refactor" style="display: none" for="image" class="profile__back">
                            {{ profileForm.avatar }}
                            <img src="{% static 'dashboard/pictures/icon-add-photo.png' %}" alt="">
                        </label>
                    </div>
                    <div class="form-error">{{ profileForm.username.errors }}</div>
                    <div class="profile__info">
                        <div id="profile_info" class="profile__nick">{{ account.user.username }}</div>
                        <div class="profile__nick" id="profile_refactor" style="display: none">
                            {{ profileForm.username }}
                        </div>
                        <div class="profile__mp">
                            {% if backend == 'vk-oauth2' %}
                                <div class="profile__prof"><i class='bx bxl-vk' ></i> Стример</div>
                            {% elif backend == 'yandex-oauth2' %}
                                <div class="profile__prof"><i class='bx bxl-yahoo' ></i> Стример</div>
                            {% elif backend == 'google-oauth2' %}
                                <div class="profile__prof"><i class='bx bxl-youtube' ></i> Стример</div>
                            {% endif %}
                        </div>
                        <div class="profile__achiv">
                            <div class="achiv__text">1 год</div>
                            <div class="achiv__text">CS:GO</div>
                        </div>
                    </div>
                </div>
                <div class="rectangles">
                    <div class="rectangle__item-first"></div>
                    <div class="rectangle__item-second"></div>
                    <div class="rectangle__item-third"></div>
                </div>
            </div>
            <div class="profile__group">
                <div class="profile__purposes">
                    <div class="purpose">
                        <h1 class="purpose-title title">Активная цель</h1>
                        <div class="purpose-inner">
                            {% if account.streamerGoal.description %}
                                <div id="profile_info">
                                    <a style="text-align: center">{{ account.streamerGoal.description }}</a>
                                </div>
                            {% endif %}
                            <div class="form-error">{{ goalForm.description.errors }}</div>
                            <div id="profile_refactor" style="display: none">
                                <a style="text-align: center">
                                    {{ goalForm.description }}
                                </a>
                            </div>
                            <div class="purpose__circle-outer">
                                <div class="form-error">{{ goalForm.goal.errors }}</div>
                                <div class="purpose__circle-inner">
                                    <div class="purpose__circle-inner-text">{{ account.streamerGoal.sum_goal }}Р/</div>
                                    <div id="profile_refactor" class="purpose__circle-inner-text" style="display: none">
                                        {{ goalForm.goal }}
                                        P
                                    </div>
                                    <div id="profile_info" class="purpose__circle-inner-text">{{ account.streamerGoal.goal }}Р</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile__donate">
                    <h1 class="title">Настройки</h1>
                    <div class="profile__donate-inner">
                        <div class="profile__donate-text">
                            <h1 class="subtitle">Ссылка на донат</h1>
                        </div>
                        <input type="text" class="donate__input"
                               placeholder="http://localhost:8000/donate/{{ account.user.username }}" disabled>
                        <div class="donate__last-container">
                            <div class="subtitle">Минимальная сумма доната</div>
                            <div class="form-error">{{ settingsForm.min_sum_donate.errors }}</div>
                            <div id="profile_refactor" style="display: none"><p class="donate__last" style="font-size: 14px;">
                                {{ settingsForm.min_sum_donate }}P
                            </p></div>
                                <p id="profile_info" class="donate__last" style="font-size: 14px;">{{ account.streamerSettings.min_sum_donate }}P</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    </form>
{% endblock %}

{% block js %}<script type="module" src="{% static 'dashboard/js/profile.js' %}"></script>{% endblock %}
