<!DOCTYPE html>
{% extends 'dashboard/html/base.html' %}{% load static %}
{% block title %}{{ account.user.username }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'dashboard/css/statistics.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/profile.css' %}">
{% endblock %}
{% block content %}
        <section class="profile">
            <div class="profile__intro">
                <div class="profile__main">
                    <div class="profile__img">
                        <img src="{{ account.avatar.url }}" alt="">
                    </div>
                    <div class="profile__info">
                        <div class="profile__nick">{{ account.user.username }}</div>
                        <div class="profile__mp">
                            {% if backend == 'vk-oauth2' %}
                                <div class="profile__prof"><i class='bx bxl-vk' ></i> Стример</div>
                            {% elif backend == 'yandex-oauth2' %}
                                <div class="profile__prof"><i class='bx bxl-yahoo' ></i> Стример</div>
                            {% elif backend == 'google-oauth2' %}
                                <div class="profile__prof"><i class='bx bxl-youtube' ></i> Стример</div>
                            {% endif %}
                        </div>
                        <div class="profile__achiv">
                            <div class="achiv__text">1 год</div>
                            <div class="achiv__text">миллионер</div>
                        </div>
                    </div>
                </div>
                <div class="rectangles">
                    <div class="rectangle__item-first"></div>
                    <div class="rectangle__item-second"></div>
                    <div class="rectangle__item-third"></div>
                </div>
            </div>
            <div class="profile__group">
                <div class="profile__purposes">
                    <div class="purpose">
                        <h1 class="purpose-title title">Активная цель</h1>
                        <div class="purpose-inner">
                            <div class="purpose__circle-outer">
                                <div class="purpose__circle-inner">
                                    <div class="purpose__circle-inner-text">{{ account.balance }}Р/</div>
                                    <div class="purpose__circle-inner-text">{{ account.streamerSettings.goal }}Р</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile__donate">
                    <h1 class="title">Важное</h1>
                    <div class="profile__donate-inner">
                        <div class="profile__donate-text">
                            <h1 class="subtitle">Ссылка на донат</h1>
                        </div>
                        <input type="text" class="donate__input"
                               placeholder="http://localhost:8000/donate/{{ account.user.username }}" disabled>
                        <div class="donate__last-container">
                            <div class="subtitle">Минимальная сумма доната</div>
                            {% if account.streamerSettings.min_sum_donate == 0.00 %}
                                <p class="donate__last" style="font-size: 14px;">Не задано</p>
                            {% else %}
                                <p class="donate__last" style="font-size: 14px;">{{ account.streamerSettings.min_sum_donate }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}


{% block js %}<script src="{% static 'dashboard/js/profile.js' %}"></script>{% endblock %}
